<div class="container-fluid" style="position: fixed; top: 0px; width: 100%; z-index: 999;">
	<div class="row" style="background: #eee; min-height: 60px">
		<div id="menu-toggle" class="btMenu" >
			<i class="fa fa-bars"></i>
		</div>
		<div class="col-lg-3">
			<a href="#" class="header-logo"><img src="<c:url value="/resources/images/Prudential Cambodia-Logo.png"/>" width="220" height="55" /></a>
		</div>
		<div class="col-lg-2"></div>
		<div class="col-lg-2">
			<center style="margin-top:10px;">
				<span style="color:#EE1B2E;font-size:30px;margin-left:-150px;"><b>eAPS</b></span><i style="text-transform: lowercase; font-size:25px;"> Online</i>
			</center>
		</div>
		<div class="col-lg-2"></div>
		<div class="col-lg-3">
			<div class="dropdown-slide-animate pull-right">
				<div class="dropdown navbar-right" style="margin-right: 0px">
				  	<a data-toggle="dropdown" href="#">
				  		<span class="imgProfile"><i class="fa fa-user"></i></span>
				  		<span class="name" style="text-transform: capitalize"><sec:authentication property="name" /></span> &nbsp;<i class="fa fa-angle-down"></i>
				  	</a>
				  	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	<!-- 					   	 	<li><a href="#"><i class="fa fa-credit-card"></i> <span>Profile</span></a></li> -->
				   	 	<li><a href="<c:url value="/changepwd"/>"><i class="fa fa-cogs"></i> <span>Change Password</span></a></li>				   	 	
				   	 	<li class="divider"></li>
				   	 	<li>
				   	 	<c:url value="/logout" var="logoutUrl" />
						<form action="${logoutUrl}" method="post" id="logoutForm">
							<input type="hidden" name="${_csrf.parameterName}"
								value="${_csrf.token}" />
						</form>
						<script>
							function formSubmit() {
								document.getElementById("logoutForm").submit();
							}
						</script>
				
						<c:if test="${pageContext.request.userPrincipal.name != null}">
							<a href="javascript:formSubmit()"><i class="fa fa-sign-out"></i> <span>Log Out</span></a>
						</c:if>					   	 	
				   	 	</li>
				  	</ul>
				</div>
			</div>
		</div>
	</div>
</div>