<style>
	table.table tbody>tr>td {
		border: 1px solid #333 !important;
	}

	.trandcon-box {
		border: 1px solid grey;
		padding: 5px;
		margin-left: -1px;
		margin-right: -3px;
		margin-bottom: 16px;
	}
</style>
<div class="print-preview-kh">
	<span class="text-danger" style="font-size: 14px;">{{model.sms_notice_date | date:'dd/MM/yyyy'}}</span><br>
	<span class="text-danger" style="font-size: 14px;">{{model.po_name}}</span><br>
	<span class="text-danger" style="font-size: 14px;">Policy Number: {{model.policy_num}}</span><br>
	<span class="text-danger" style="font-size: 14px;">FC/LC: {{model.agnt_name}}</span><br>

	<p class="view-style"><b><span id="dear" class="view-style-kh">កម្មវត្ថុ ៖ </span>
			<span class="view-style">ការតម្លើងអត្ថប្រយោជន៍ការពារ
				ដែលស្ដែងចេញពីផ្លាស់ប្ដូរអត្រាពន្ធលើបុព្វលាភរ៉ាប់រងស្មើនឹង
				0%</span></b>
	</p>
	<p class="view-style">
		<table>
			<tbody>
				<td style="vertical-align: top"> <span id="dear" class="view-style-kh"><b>យោង ៖ </b></span> </td>
				<td  style="padding-left:5px"><b><span class="view-style">ច្បាប់ថវិកាជាតិ ចូលជាធរមាន ថ្ងៃទី1 ខែមករា ឆ្នាំ2017</span><br>
						<span class="view-style">ប្រកាសលេខ 490 ចុះថ្ងៃទី30 ខែមេសា ឆ្នាំ2018 របស់ក្រសួងសេដ្ឋកិច្ច
							និងហិរញ្ញវត្ថុ</span><br>
						<span class="view-style">លិខិតអេឡិចត្រូនិចអំពីពន្ធលើបុព្វលាភធានារ៉ាប់រង
							ផ្ញើចេញដោយក្រុមហ៊ុនព្រូដិនសលក្នុងឆ្នាំ2017 និង 2018</span></b>
				</td>
			</tbody>
		</table>
	</p>
	<p class="view-style"><span id="dear" class="view-style-kh">ជូនចំពោះ </span> <span class="view-style"
			ng-bind="model.po_salutation + '. ' + model.po_name" + ','></span></p>
	<p id="greeting" class="view-style-kh">
		<span style="text-align: justify;">
			យើងខ្ញុំសូមថ្លែងអំណរគុណចំពោះការជឿទុកចិត្ដ និងការជ្រើសរើសយកក្រុមហ៊ុនព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍
			ម.ក (ក្រុមហ៊ុន) ធ្វើជាក្រុមហ៊ុនផ្តល់សេវាធានារ៉ាប់រងអាយុជីវិតជូនលោកអ្នក។
		</span>
	</p>
	<p class="view-style-kh">
		តបតាមកម្មវត្ថុ និងយោងខាងលើ យើងខ្ញុំមានសេចក្តីសោមនស្សរីករាយសូមជម្រាបជូនលោកអ្នកថា ពន្ធអាករដែលមានអត្រា
		5%លើបុព្វលាភធានារ៉ាប់រងនៃសេវាធានារ៉ាប់រងអាយុជីវិត គឺមិនត្រូវបានអនុវត្តបន្តទៀតទេ។
	</p>
	<p class="view-style-kh">
		<b>ដូចនេះចាប់ពីកាលបរិច្ឆេទដល់កំណត់បង់បុព្វលាភធានារ៉ាប់រងបន្ទាប់ នៃបណ្ណសន្យារ៉ាប់រងរបស់លោកអ្នក</b>
		ក្រុមហ៊ុននឹងធ្វើការតម្លើងនូវអត្ថប្រយោជន៍នៃការការពាររបស់លោកអ្នក (ទឹកប្រាក់ត្រូវបានធានារ៉ាប់រងនៃគម្រោងមូលដ្ឋាន +
		អត្ថប្រយោជន៍ធានារ៉ាប់រងមាតាបិតា) <b>ពី
			US$ {{(model.sum_assured_basic+model.la1_sum_assured_pcb+model.la2_sum_assured_pcb)|number:2}} ទៅ US$
			{{(model.sum_assured_basic+model.la1_sum_assured_pcb+model.la2_sum_assured_pcb+model.la1_sum_assured_rtry+model.la2_sum_assured_rtry)|number:2}}
			។</b> ការតម្លើងអត្ថប្រយោជន៍នៃការការពារនេះត្រូវបានផ្តល់ជូនដល់លោកអ្នក
		ដោយមិនតម្រូវឲ្យមានសេចក្តីបញ្ជាក់បន្ថែមស្ដីអំពីស្ថានភាពសុខភាពរបស់លោកអ្នក
		ឬតម្រូវឲ្យលោកអ្នកបង់បុព្វលាភធានារ៉ាប់រងបន្ថែមទៀតនោះឡើយ។
	</p>
	<p class="view-style-kh">
		គោលបំណងសំខាន់នៃការតម្លើងអត្ថប្រយោជន៍លើការការពារជូននេះគឺ ៖
	</p>
	<p id="greeting" class="view-style-kh">
		<span style="text-align: justify;font-weight: bold" class="text-danger">
			“ ផ្តល់ជូនលោកអ្នក និងក្រុមគ្រួសារលោកអ្នកនូវភាពស្ងប់ចិត្តជាងមុន ក្នុងការទទួលបានការការពារកាន់តែខ្ពស់
			ជាមួយនឹងបុព្វលាភធានារ៉ាប់រងដដែល ”
		</span>
	</p>
	<ul id="ul-main" class="view-style-kh" style="list-style-type: none;">
		<li>
			<div class="row table-responsive">
				<table class="table table-bordered" style="width: 99%">
					<tbody>

						<tr style="font-weight:bold;">
							<td style="max-width: 200px; vertical-align: text-top;">
								<span id="th-desc">ព័ត៌មានអំពីការធានារ៉ាប់រង</span>
							</td>
							<td style="vertical-align: text-top;">
								<span id="th-current">អត្ថប្រយោជន៍ និង បុព្វលាភធានារ៉ាប់រងបច្ចុប្បន្ន
									ជាដំណាក់កាល/{{model.bill_freq_kh}}</span>
							</td>
							<td style="vertical-align: text-top;">

								<span id="th-extra">អត្ថប្រយោជន៍ និង បុព្វលាភធានារ៉ាប់រងថ្មី
									ជាដំណាក់កាល/{{model.bill_freq_kh}} បន្ទាប់ពីបានតម្លើង</span>
							</td>
						</tr>
						<tr>
							<td colspan="3" style="max-height: 200px;">
								អ្នកត្រូវបានធានារ៉ាប់រងទី ១ ៖ {{model.la1_name}} </td>
						</tr>
						<tr>
							<td style="padding-left: 20px;">
								<span id="desc-basic-life1"
									class="view-style view-style-kh">ទឹកប្រាក់ត្រូវបានធានារ៉ាប់រងនៃគម្រោងមូលដ្ឋាន</span>
							</td>
							<td style="max-width: 200px">
								US$ {{model.sum_assured_basic|number:2}}</td>
							<td style="max-width: 200px">
								<span class="same">ដដែល</span>
							</td>
						</tr>
						<tr  ng-hide=" model.la1_sum_assured_pcb==0">
							<td style="padding-left: 20px; max-width: 200px;">
								<span id="desc-pcb-life1" class="view-style view-style-kh">
									អត្ថប្រយោជន៍ធានារ៉ាប់រងមាតាបិតា</span>
							</td>
							<td style="max-width: 200px">
								US$ {{model.la1_sum_assured_pcb|number:2}}</td>
							<td style="color: red; max-width: 200px; font-weight: 600;">
								US$ {{(model.la1_sum_assured_pcb+model.la1_sum_assured_rtry)|number:2}}</td>
						</tr>
						<tr ng-hide=" model.la1_sum_assured_fib==0">
							<td style="padding-left: 20px; max-width: 200px;">
								<span id="desc-fib-life1"
									class="view-style view-style-kh">អត្ថប្រយោជន៍ចំណូលគ្រួសារ</span>
							</td>
							<td style="max-width: 200px">
								US$ {{model.la1_sum_assured_fib|number:2}}</td>
							<td style="max-width: 200px">
								<span class="same">ដដែល</span>
							</td>
						</tr>
						<tr ng-if="model.la2_name!=null">
							<td colspan="3" style="border: none;">អ្នកត្រូវបានធានារ៉ាប់រងទី ២ ៖ {{model.la2_name}} </td>
						</tr>
						<tr ng-hide=" model.la2_sum_assured_pcb==0">
							<td style="padding-left: 20px; max-width: 200px;">
								<span id="desc-pcb-life2"
									class="view-style view-style-kh">អត្ថប្រយោជន៍ធានារ៉ាប់រងមាតាបិតា</span>
							</td>
							<td style="max-width: 200px">
								US$ {{model.la2_sum_assured_pcb|number:2}}</td>
							<td style="max-width: 200px;">
								<span style="color: red; max-width: 200px; font-weight: 600;">US$
									{{(model.la2_sum_assured_pcb+model.la2_sum_assured_rtry)|number:2}}</span>
							</td>
						</tr>
						<tr ng-hide=" model.la2_sum_assured_fib==0">
							<td style="padding-left: 20px; max-width: 200px;">
								<span id="desc-fib-life2"
									class="view-style view-style-kh">អត្ថប្រយោជន៍ចំណូលគ្រួសារ</span>
							</td>
							<td style="max-width: 200px">
								US$ {{model.la2_sum_assured_fib|number:2}}</td>
							<td style="max-width: 200px">
								<span class="same">ដដែល</span>
							</td>
						</tr>
						</tr>
						<tr>
							<td style="max-width: 200px;">
								បុព្វលាភធានារ៉ាប់រងសរុបត្រូវទូទាត់ជាដំណាក់កាល/{{model.bill_freq_kh}}
							</td>
							<td style="max-width: 200px">
								US$
								{{(model.inst_prem_basic + model.la1_inst_prem_pcb + model.la1_inst_prem_fib+ model.la2_inst_prem_pcb + model.la2_inst_prem_fib+model.la1_inst_prem_rtry+model.la2_inst_prem_rtry)|number:2}}
							</td>
							<td style="max-width: 200px">
								<span class="same">ដដែល</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br>

			<div id="tandc-box" class="row" style="margin-left: -58px; padding: 5px;">
				<div class="col-xs-12">
					<span id="tandc-title"
						class="tandc-title-kh">ដើម្បីទទួលបាននូវការតម្លើងអត្ថប្រយោជន៍ធានារ៉ាប់រងខាងលើនេះ
						សូមលោកអ្នកអនុវត្តតាមសេចក្ដីណែនាំដូចខាងក្រោម ដើម្បីបញ្ជាក់ការអះអាងពីការទទួលយល់ព្រមរបស់លោកអ្នក ៖
					</span>
					<br>
					<ul id="tandc-list">
						<li>សូមចុចប៊ូតុង <b>“តម្លើងអត្ថប្រយោជន៍ការពាររបស់ខ្ញុំ”</b> ខាងក្រោម ឬព្រីនលិខិតនេះ
							ហើយចុះហត្ថលេខា
							ឬផ្ដិតស្នាមមេដៃស្តាំនៅក្នុងតារាងខាងក្រោម ហើយសូមផ្ញើលិខិតដែលបានចុះហត្ថលេខា ឬផ្ដិតស្នាមមេដៃរួច
							មកកាន់ក្រុមហ៊ុនតាមរយះ<b>ទីប្រឹក្សាហិរញ្ញវត្ថុ</b> ឬ <b>ទីប្រឹក្សាធានារ៉ាប់រងអាយុជីវិត</b>
							របស់លោកអ្នក
							ឬតាមរយៈអាសយដ្ឋាន អគារវីត្រាស់ថោវើរ៍ ជាន់ផ្ទាល់ដី មហាវិថីសាធារណរដ្ឋឆែក (169) សង្កាត់វាលវង់
							ខណ្ឌ 7មករា រាជធានីភ្នំពេញប្រអប់សំបុត្រលេខ 417។</li>
						<li>លោកអ្នកក៏អាចផ្ញើអ៊ីម៉ែលបញ្ជាក់ពីការទទួលយល់ព្រមនេះមក <u>cc@prudential.com.kh</u> ឬ </li>
						<li>ទូរស័ព្ទមកផ្នែកទំនាក់ទំនងអតិថិជនបញ្ជាក់ពីការទទួលយល់ព្រម តាមរយៈលេខ 1800-212223 (ឥតគិតថ្លៃ)
							ឬ 023 964 222 (គិតថ្លៃ) ឬ
						</li>
						<li>អញ្ជើញមកបញ្ជាក់ដោយផ្ទាល់នៅមជ្ឈមណ្ឌលផ្ដល់សេវាអតិថិជន ដែលមានអាសយដ្ឋានដូចបានបញ្ជាក់ខាងលើ
							ឬសាខាខេត្តបាត់ដំបង (ផ្ទះលេខS6 &S7 ផ្លូវជាតិលេខ5 ភូមិ ព្រែកមហាទេព សង្កាត់ស្វាយប៉ោ
							ក្រុងបាត់ដំបង ខេត្តបាត់ដំបង) និង សាខាខេត្តសៀមរាប (ផ្លូវទេពវង្ស ភូមិមណ្ឌល2 ឃុំស្វាយដង្គំ
							ស្រុកសៀមរាប ខេត្តសៀមរាប) ដើម្បីបញ្ជាក់ពីការទទួលយល់ព្រម ។
							
						</li>
					</ul>
					<br>
							<p>
								បើលោកអ្នកយល់ឃើញថា អត្ថប្រយោជន៍ការពារបច្ចុប្បន្នរបស់លោកអ្នក មានកម្រិតគ្រប់គ្រាន់
								សមរម្យល្មមហើយ
								លោកអ្នកអាចជ្រើសរើសរក្សាអត្ថប្រយោជន៍ការពារបច្ចុប្បន្ននោះឲ្យស្ថិតនៅក្នុងកម្រិតដដែលក៏បាន
								ដោយបុព្វលាភធានារ៉ាប់រងសរុបដែលលោកអ្នកត្រូវទូទាត់របស់លោកអ្នក នឹងត្រូវបានកាត់បន្ថយពី<b>
									US$
									{{(model.inst_prem_basic + model.la1_inst_prem_pcb + model.la1_inst_prem_fib+ model.la2_inst_prem_pcb + model.la2_inst_prem_fib+model.la1_inst_prem_rtry+model.la2_inst_prem_rtry)|number:2}}
									ទៅ US$
									{{(model.inst_prem_basic + model.la1_inst_prem_pcb + model.la1_inst_prem_fib+ model.la2_inst_prem_pcb + model.la2_inst_prem_fib)|number:2}}
									។</b>

							</p>
						
					<p>
						ក្នុងករណីនេះ ៖
						<ol type="1" id="ul-main" class="view-style-kh">
							<li>
								<span id="ul-1"
									class="view-style-kh">សូមលោកអ្នកទូរស័ព្ទមកផ្នែកទំនាក់ទំនងអតិថិជនយើងខ្ញុំ ឬ
									ផ្ញើអ៊ីម៉ែលមកយើងខ្ញុំ
									ដោយបញ្ជាក់ថា លោកអ្នកចង់រក្សាអត្ថប្រយោជន៍ការពារបច្ចុប្បន្នរបស់លោកអ្នក
									ហើយជ្រើសរើសបង់បុព្វលាភធានារ៉ាប់រងសរុបដែលត្រូវបានកាត់បន្ថយ។<span>
							</li>
							<li>
								<span id="ul-1" class="view-style-kh">បន្ទាប់មក ប្រសិនបើបច្ចុប្បន្ននេះ
									លោកអ្នកបង់បុព្វលាភធានារ៉ាប់រងតាមរយៈបញ្ជាអចិន្ត្រៃយ៍ថេរ សូមលោកអ្នក
									អញ្ជើញទៅកាន់ធនាគារដើម្បីធ្វើការកែប្រែបញ្ជាអចិន្ត្រៃយ៍ថេរនោះ
									ឲ្យបានត្រឹមត្រូវទៅតាមចំនួនបុព្វលាភធានារ៉ាប់រងសរុបថ្មីឲ្យបានឆាប់រហ័សតាមការគួរ។
									ការកែប្រែនេះគឺពាក់ព័ន្ធនឹងការបំពេញសំណុំបែបបទស្នើសុំថ្មី
									ដើម្បីដាក់ឲ្យដំណើរការជាថ្មី។
									សូមផ្ញើច្បាប់ចម្លងនៃការកែប្រែបញ្ជាអចិន្ត្រៃយ៍ថេរមកកាន់មជ្ឈមណ្ឌលផ្ដល់សេវាអតិថិជន
									ឬការិយាល័យសាខាខេត្តបាត់ដំបង និងសៀមរាបរបស់យើងខ្ញុំ
									តាមវិធីដែលបានបញ្ជាក់ខាងលើ។<span>
							</li>
							<li>
								<span id="ul-1" class="view-style-kh">បុព្វលាភធានារ៉ាប់រងដែលត្រូវកាត់បន្ថយ
									នឹងចាប់មានសុពលភាពបន្ទាប់ពីក្រុមហ៊ុនទទួលបានច្បាប់ចម្លងនៃការកែប្រែបញ្ជាអចិន្ត្រៃយ៍ថេរពីលោកអ្នក។
								</span>
							</li>
						</ol>
					</p>
					<p id="note" class="view-style-kh">
						<span style="text-align: justify;">
							យើងខ្ញុំសូមលើកទឹកចិត្តឲ្យលោកអ្នកពិគ្រោះយោបល់ជាមួយនឹង<b>ទីប្រឹក្សាហិរញ្ញវត្ថុ</b> ឬ
							<b>ទីប្រឹក្សាធានារ៉ាប់រងអាយុជីវិត</b> របស់លោកអ្នកដើម្បីពិនិត្យមើលតម្រូវការធានារ៉ាប់រងឡើងវិញ
							និងដើម្បីជាជំនួយដល់សេចក្ដីសម្រចចិត្តរបស់លោកអ្នកឲ្យបានត្រឹមត្រូវ ។
						</span>
					</p>
					<p id="note" class="view-style-kh">
						<span style="text-align: justify;">
							ក្នុងករណីដែលយើងខ្ញុំពុំទទួលបានការឆ្លើយតបពីលោកអ្នកក្នុងរយៈពេល <b>2 (ពីរ) ខែ</b>
							ចាប់ពីកាលបរិច្ឆេទនៃលិខិតនេះ ហើយលោកអ្នកនៅតែបន្តបង់បុព្វលាភធានារ៉ាប់រងក្នុងចំនួនដដែលនៅថ្ងៃមុខ
							យើងខ្ញុំនឹងចាត់ទុកថា លោកអ្នកបានយល់ព្រមទទួលយកអត្ថប្រយោជន៍ការពារដែលបានតម្លើងជូន។
						</span>
					</p>
					<p id="note" class="view-style-kh">
						<span style="text-align: justify;">
							ដោយឡែក ចំនួនទឹកប្រាក់ពន្ធលើបុព្វលាភធានារ៉ាប់រងដែលលោកអ្នកបានបង់ ចាប់ពីឆ្នាំ2017
							នឹងត្រូវបង្វិលទៅគណនីធនាគារ ដែលបានបញ្ជាក់នៅក្នុងបញ្ជាអចិន្រ្តៃយ៍ថេរ ឬ
							បញ្ជាអចិន្រ្តៃយ៍អថេររបស់លោកអ្នក ឬ ពីការផ្ទេរតាមធនាគារ
							តាមរយៈអត្តសញ្ញាណបណ្ណសម្គាល់ខ្លួនរបស់អ្នកដែលបានចុះបញ្ជីជាមួយយើងតាមពេលវេលាដែលសមស្រប។
						</span>
					</p>
					<p id="contact" class="view-style-kh">
						<span style="text-align: justify;">
							សូមលោកអ្នកទាក់ទងភ្នាក់ងារលក់របស់លោកអ្នក {{model.agnt_name}}
							{{model.agnt_mobl_num}} ឬបុគ្គលិកផ្នែកទំនាក់ទំនងអតិថិជន ប្រសិនបើលោកអ្នកមានសំនូរផ្សេងៗ។
						</span>
					</p>

				</div>
			</div>

		</li>
	</ul>
	<br><br><span id="sign" class="view-style">ដោយក្តីគោរពដ៏ខ្ពង់ខ្ពស់</span>
	<br><img src="/eapsfront/resources/images/CEO Signature.JPG">
	<br><span class="view-style"><b>David Nutman</b></span>
	<br><span id="pos" class="view-style"><b>អគ្គនាយក</b></span>
	<!-- term and condition -->
	<br><br>
	<div id="tandc-box" class="row trandcon-box">
		<div class="col-xs-12">
			<span id="tandc-title" class="tandc-title-kh" style="font-weight:bold">ខ និង លក្ខខណ្ឌ</span>
			<br><br>
			<ul id="tandc-list">
				<li>ខ្ញុំបាទ/នាងខ្ញុំ
					យល់ព្រមទទួលអត្ថប្រយោជន៍ការពារដែលបានតម្លើងសម្រាប់បណ្ណសន្យារ៉ាប់រងរបស់ខ្ញុំបាទ/នាងខ្ញុំ
					ចាប់ពីកាលបរិច្ឆេទដល់កំណត់បង់បុព្វលាភធានារ៉ាប់រងបន្ទាប់ទៅ។
				</li>
				<li>ខ្ញុំបាទ/នាងខ្ញុំ យល់ និងទទួលស្គាល់ថា ការតម្លើងអត្ថប្រយោជន៍ការពារបន្ថែម មានសុពលភាព
					ដរាបណាបុព្វលាភធានារ៉ាប់រងបន្តរបស់ខ្ញុំត្រូវបានបង់ ។ </li>
				<li>ខ្ញុំបាទ/នាងខ្ញុំ យល់ និងទទួលស្គាល់ថា ក្រុមហ៊ុននឹងអនុវត្តតាមលក្ខខណ្ឌនេះ
					រហូតដល់កាលបរិច្ឆេទផុតកំណត់នៃបណ្ណសន្យារ៉ាប់រងរបស់ខ្ញុំ។
				</li>
			</ul>
			<br>
			<div class="row">
				<div class="col-xs-6">
				</div>
				<div class="col-xs-6">
					<div class="pull-right" style="margin-right: 40px;">
						<span><span class="agreed-text">យល់ព្រមនៅថ្ងៃទី ___ / ___ / ______</span>
							<br><span style="color: lightgray;">ហត្ថលេខា ឬស្នាមមេដៃស្តាំ</span>
							<br><br><br><br><br>
							<span><span id="name">ឈ្មោះពេញ </span><u>{{model.po_name}} </u></span>
						</span></div>
				</div>
			</div>
		</div>
	</div>
</div>