<style>
	table.table tbody>tr>td {
		border: 1px solid #333 !important;
	}
</style>
<div class="row"
	style="margin: 0px; padding: 0px; margin-left: 20px; margin-right: 20px; font-family: Verdana;font-size:11px">

	<span class="text-danger" style="font-size: 12px;">{{model.sms_notice_date | date:'dd/MM/yyyy'}}</span><br>
	<span class="text-danger" style="font-size: 12px;">{{model.po_name}}</span><br>
	<span class="text-danger" style="font-size: 12px;">Policy Number: {{model.policy_num}}</span><br>
	<span class="text-danger" style="font-size: 12px;">FC/LC: {{model.agnt_name}}</span><br>
	<p class="view-style"><b><span id="dear" class="view-style-kh">Subject: </span> <span class="view-style">Reduction
			in
			premium in light of premium tax exemption</span></b></p>
	<p class="view-style">
		<table>
			<tbody>
				<td style="vertical-align: top"> <span id="dear" class="view-style-kh"><b>References: </b></span> </td>
				<td  style="padding-left:5px"><span class="view-style"><b>Laws on Financial Management, Effective 01 January 2017</b></span><br>
					<span class="view-style"><b>Prakas No. 490, Issued by MEF, dated 30 April 2018</b></span><br>
					<span class="view-style"><b>Electronic letter regarding premium tax change sent to you in
							2017-2018</b></span>
				</td>
			</tbody>
		</table>
	</p>
	<p class="view-style"><span id="dear" class="view-style-kh">Dear </span> <span class="view-style"
			ng-bind="model.po_salutation + '. ' + model.po_name" + ','></span></p>
	<p id="greeting" class="view-style-kh">
		<span style="text-align: justify;">
			Thank you for trusting and choosing Prudential (Cambodia) Life Assurance PLC (the Company) as your life
			insurance provider.
		</span>
	</p>
	<p id="note" class="view-style-kh">
		<span style="text-align: justify;">
			With regard to the above subject and references, we take pleasure in informing you that the tax on life
			insurance based on 5% of premium is no longer applicable.
		</span>
	</p>
	<p id="note" class="view-style-kh">
		<span style="text-align: justify;">
			<b><i>With effect from the next premium due date under your policy,</i></b> your premium is reduced from
			<b>US$
			{{(model.inst_prem_basic + model.la1_inst_prem_pcb + model.la1_inst_prem_fib+ model.la2_inst_prem_pcb + model.la2_inst_prem_fib+model.la1_inst_prem_rtry+model.la2_inst_prem_rtry)|number:2}}
			to US$
			{{(model.inst_prem_basic + model.la1_inst_prem_pcb + model.la1_inst_prem_fib+ model.la2_inst_prem_pcb + model.la2_inst_prem_fib)|number:2}}</b>
			with no change in your benefits.
		</span>
	</p>
	<p id="note" class="view-style-kh">
		<span style="text-align: justify;">
			If you are currently paying premium via Standing Instruction, you will need to go to the bank at your
			earliest convenience to amend it with the new premium. This will involve completing and processing a new set
			of forms. Please then send a copy of the authorized standing instruction to the Company through your
			servicing agent or to below addresses:
		</span>
	</p>

	<ul id="tandc-list">
		<li><b>Customer Service Center</b> in Phnom Penh: V-Trust Tower, Ground Floor, Tchecoslovaquie Blvd (169),
			Sangkat
			Veal Vong, Khan 7 Makara, Phnom Penh, Cambodia.
		</li>
		<li><b>Battambang Branch Office:</b> No. S6 & S7 National Road No. 5, Prek Moha Tep Village, Sangkat Svay Por,
			Battambang City, Battambang Province</li>
		<li><b>Siem Reap Branch Office:</b> Tep Vong Street, Modul II Village, Svaydangkum Commune, Siem Reap District,
			Siem
			Reap Province
		</li>
	</ul>

	<p id="note" class="view-style-kh">
		<span style="text-align: justify;">
			<b>The reduced premium will take effect after we have received the revised authorised standing instruction
				from
				you.</b>
		</span>
	</p>
	<p id="note" class="view-style-kh">
		<span style="text-align: justify;">
			You may also opt for using the excess premium amount above to upgrade your protection benefits. If you would
			like to do so, we recommend that you get in touch with your servicing agent. In this case, the Company may
			contact you for additional health related information such as a health warranty.
		</span>
	</p>
	<p id="note" class="view-style-kh">
		<span style="text-align: justify;">
			The premium taxes paid from 2017 will be refunded to your bank account stated in your Direct Debit or
			Standing Instruction form or a bank transfer to your ID Card registered with us in due course.
		</span>
	</p>
	<p id="contact" class="view-style-kh">
		<span style="text-align: justify;">
			Please do not hesitate to call your servicing agent, {{model.agnt_name}} {{model.agnt_mobl_num}} or our
			Contact Center at 1800-212-223 (toll free) or at 023-964-222 (chargeable) if you have any questions.
		</span>
	</p>

	<br><br><span id="sign" class="view-style">Kind regards</span>
	<br><img src="/eapsfront/resources/images/CEO Signature.JPG">
	<br><span class="view-style"><b>David Nutman</b></span>
	<br><span id="pos" class="view-style"><b>Chief Executive Officer</b></span>
</div>