<style>
	table.table tbody>tr>td {
		border: 1px solid #333 !important;
	}
	.print-preview-khmer-font {
    	margin-left: 20px;
		margin-right: 20px;
		font-family: 'Khmer OS', arial;
		font-size: 11px;
		line-height: 1.8;
	}
</style>
<div class="print-preview-khmer-font">

	<span class="text-danger" style="font-size: 14px;">{{model.sms_notice_date | date:'dd/MM/yyyy'}}</span><br>
	<span class="text-danger" style="font-size: 14px;">{{model.po_name}}</span><br>
	<span class="text-danger" style="font-size: 14px;">Policy Number: {{model.policy_num}}</span><br>
	<span class="text-danger" style="font-size: 14px;">FC/LC: {{model.agnt_name}}</span><br>
	<p class="view-style"><b><span id="dear" class="view-style-kh">កម្មវត្ថុ ៖ </span
				class="view-style">ការកាត់បន្ថយបុព្វលាភធានារ៉ាប់រង
				ដែលស្ដែងចេញពីផ្លាស់ប្ដូរអត្រាពន្ធលើបុព្វលាភរ៉ាប់រងស្មើនឹង
				0%</span></b></p>
	<p class="view-style">
		<table>
			<tbody>
				<td style="vertical-align: top"> <span id="dear" class="view-style-kh"><b>យោង ៖ </b></span> </td>
				<td  style="padding-left:5px"><span class="view-style"><b>ច្បាប់ថវិកាជាតិ ចូលជាធរមាន ថ្ងៃទី1 ខែមករា ឆ្នាំ2017</b></span><br>
					<span class="view-style"><b>ប្រកាសលេខ490 ចុះថ្ងៃទី30 ខែមេសា ឆ្នាំ2018 របស់ ក្រសួងសេដ្ឋកិច្ច
							និងហិរញ្ញវត្ថុ</b></span><br>
					<span class="view-style"><b>លិខិតអេឡិចត្រូនិចអំពីពន្ធលើបុព្វលាភធានារ៉ាប់រង
							ផ្ញើចេញដោយក្រុមហ៊ុនព្រូដិនសលក្នុងឆ្នាំ 2017 និង 2018</b></span>
				</td>
			</tbody>
		</table>
	</p>
	<p class="view-style"><span id="dear" class="view-style-kh">ជូនចំពោះ </span> <span class="view-style"
			ng-bind="model.po_salutation + '. ' + model.po_name" + ','></span></p>
	<p id="greeting" class="view-style-kh">
		<span style="text-align: justify;">
			យើងខ្ញុំសូមថ្លែងអំណរគុណចំពោះការជឿទុកចិត្ដ និងការជ្រើសរើសយកក្រុមហ៊ុនព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍
			ម.ក (ក្រុមហ៊ុន) ធ្វើជាក្រុមហ៊ុនផ្តល់សេវាធានារ៉ាប់រងអាយុជីវិតជូនលោកអ្នក។
		</span>
	</p>
	<p id="note" class="view-style-kh">
		<span style="text-align: justify;">
			តបតាមកម្មវត្ថុ និងយោងខាងលើ យើងខ្ញុំមានសេចក្តីសោមនស្សរីករាយសូមជម្រាបជូនលោកអ្នកថា ពន្ធអាករដែលមានអត្រា ៥%
			ទៅលើបុព្វលាភធានារ៉ាប់រងនៃសេវាធានារ៉ាប់រងអាយុជីវិត គឺមិនត្រូវបានអនុវត្តបន្តទៀតទេ។
		</span>
	</p>
	<p id="note" class="view-style-kh"></p>
		<span style="text-align: justify;">
			<b>ដូចនេះចាប់ពីកាលបរិច្ឆេទដល់កំណត់បង់បុព្វលាភធានារ៉ាប់រងបន្ទាប់នៃបណ្ណសន្យារ៉ាប់រងរបស់លោកអ្នក
			បុព្វលាភធានារ៉ាប់រងសរុបរបស់លោកអ្នកនឹងត្រូវបានកាត់បន្ថយពី</b>
			<b> US$
			{{(model.inst_prem_basic + model.la1_inst_prem_pcb + model.la1_inst_prem_fib+ model.la2_inst_prem_pcb + model.la2_inst_prem_fib+model.la1_inst_prem_rtry+model.la2_inst_prem_rtry)|number:2}}
			ទៅ US$
			{{(model.inst_prem_basic + model.la1_inst_prem_pcb + model.la1_inst_prem_fib+ model.la2_inst_prem_pcb + model.la2_inst_prem_fib)|number:2}}</b>
			ដោយគ្មានការផ្លាស់ប្តូរអត្ថប្រយោជន៍ធានារ៉ាបរងបច្ចុប្បន្នរបស់លោកអ្នកឡើយ។
		</span>
	</p>
	<p id="note" class="view-style-kh">
		<span style="text-align: justify;">
			ប្រសិនបើបច្ចុប្បន្ននេះ លោកអ្នកបង់បុព្វលាភធានារ៉ាប់រងតាមរយៈបញ្ជាអចិន្ត្រៃយ៍ថេរ សូមលោកអ្នក
			អញ្ជើញទៅកាន់ធនាគារដើម្បីធ្វើការកែប្រែបញ្ជាអចិន្ត្រៃយ៍ថេរនោះ
			ឲ្យបានត្រឹមត្រូវទៅតាមចំនួនបុព្វលាភធានារ៉ាប់រងសរុបថ្មីឲ្យបានឆាប់រហ័សតាមការគួរ។
			ការកែប្រែនេះគឺពាក់ព័ន្ធនឹងការបំពេញសំណុំបែបបទស្នើសុំថ្មី ដើម្បីដាក់ឲ្យដំណើរការជាថ្មី។
			សូមផ្ញើច្បាប់ចម្លងនៃការកែប្រែបញ្ជាអចិន្ត្រៃយ៍ថេរមកកាន់ក្រុមហ៊ុន តាមរយះភ្នាក់ងារលក់របស់លោកអ្នក ឬ
			ផ្ញើមកកាន់អាសយដ្ឋានខាងក្រោម៖
		</span>
	</p>

	<ul id="tandc-list">
		<li><b>មជ្ឈមណ្ឌលផ្ដល់សេវាអតិថិជនភ្នំពេញ ៖ </b> អគារវីត្រាស់ថោវើរ៍ ជាន់ផ្ទាល់ដី មហាវិថីសាធារណរដ្ឋឆែក (169)
			សង្កាត់វាលវង់ ខណ្ឌ
			7មករា រាជធានីភ្នំពេញ ប្រអប់សំបុត្រលេខ 417។ ឬ
		</li>
		<li><b>ការិយាល័យសាខាខេត្តបាត់ដំបង ៖ </b> ផ្ទះលេខ S6 &S7 ផ្លូវជាតិលេខ 5 ភូមិ ព្រែកមហាទេព សង្កាត់ស្វាយប៉ោ
			ក្រុងបាត់ដំបង ខេត្តបាត់ដំបង</li>
		<li><b>ការិយាល័យសាខាខេត្តសៀមរាប ៖ </b> ផ្លូវទេពវង្ស ភូមិមណ្ឌល2 ឃុំស្វាយដង្គំ ស្រុកសៀមរាប ខេត្តសៀមរាប ។
			បុព្វលាភធានារ៉ាប់រងដែលត្រូវកាត់បន្ថយ
			នឹងចាប់មានសុពលភាពបន្ទាប់ពីក្រុមហ៊ុនទទួលបានច្បាប់ចម្លងនៃការកែប្រែបញ្ជាអចិន្ត្រៃយ៍ថេរពីលោកអ្នក។
		</li>
	</ul>

	<p id="note" class="view-style-kh">
		<span style="text-align: justify;">
			បុព្វលាភធានារ៉ាប់រងដែលត្រូវកាត់បន្ថយ
			នឹងចាប់មានសុពលភាពបន្ទាប់ពីក្រុមហ៊ុនទទួលបានច្បាប់ចម្លងនៃការកែប្រែបញ្ជាអចិន្ត្រៃយ៍ថេរពីលោកអ្នក។
		</span>
	</p>
	<p id="note" class="view-style-kh">
		<span style="text-align: justify;">
			ទន្ទឹមនឹងនេះ លោកអ្នកក៏អាច ជ្រើសរើសប្រើប្រាស់បុព្វលាភធានារ៉ាប់រងដែលសល់ពីការកាត់បន្ថយខាងលើ
			ដើម្បីបង្កើនអត្ថប្រយោជន៍លើការការពារបច្ចុប្បន្នលោកអ្នកផងដែរ។ ប្រសិនបើលោកអ្នកមានបំណងដូច្នេះ
			សូមទាក់ទងភ្នាក់ងារលក់របស់លោកអ្នក។ ក្នុងករណីនេះ
			ក្រុមហ៊ុននឹងទាក់ទងលោកអ្នកសម្រាប់ព័ត៌មានបន្ថែមពាក់ព័ន្ធនឹងស្ថានភាពសុខភាព ដូចជាឯកសារការធានាសុខភាពជាដើម។
		</span>
	</p>
	<p id="note" class="view-style-kh">
		<span style="text-align: justify;">
			ដោយឡែក ចំនួនទឹកប្រាក់ពន្ធលើបុព្វលាភធានារ៉ាប់រងដែលលោកអ្នកបានបង់ ចាប់ពីឆ្នាំ2017 នឹងត្រូវបង្វិលទៅគណនីធនាគារ
			ដែលបានបញ្ជាក់នៅក្នុងបញ្ជាអចិន្រ្តៃយ៍ថេរ ឬ បញ្ជាអចិន្រ្តៃយ៍អថេរ ឬ ពីការផ្ទេរតាមធនាគារ
			តាមរយៈអត្តសញ្ញាណបណ្ណសម្គាល់ខ្លួនរបស់លោកអ្នកដែលបានចុះបញ្ជីជាមួយយើង។
		</span>
	</p>
	<p id="contact" class="view-style-kh">
		<span style="text-align: justify;">
			សូមលោកអ្នកទាក់ទងភ្នាក់ងារលក់របស់លោកអ្នក {{model.agnt_name}} {{model.agnt_mobl_num}} ឬ
			បុគ្គលិកផ្នែកទំនាក់ទំនងអតិថិជនតាមរយៈលេខ 1800-212223 (ឥតគិតថ្លៃ) ឬ 023 964 222 (គិតថ្លៃ)
			ប្រសិនបើលោកអ្នកមានសំនួរផ្សេងៗ។
		</span>
	</p>

	<br><br><span id="sign" class="view-style">ដោយក្តីគោរពដ៏ខ្ពង់ខ្ពស់</span>
	<br><img src="/eapsfront/resources/images/CEO Signature.JPG">
	<br><span class="view-style"><b>David Nutman</b></span>
	<br><span id="pos" class="view-style"><b>អគ្គនាយក</b></span>
</div>